#movie-detail{
  margin: 7.5rem 0px;
}
.container-details{
  padding: 0 2rem;
  display: flex;
  margin-top: 50px;
  gap: 1.5rem;
}
.container-details-poster{
  display: flex;
  flex-direction: column;
  width: 330px;
  flex-shrink: 0;
  gap: 5px;
}
.container-details-poster img{
  width: 100%;
  border-radius: 30px;
  margin-bottom: 5px;
  height: 500px;
}
.container-details-poster > span{
  padding: 5px 10px;
}
.container-details-poster-icons{
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
}
.star,
.date{
  display: flex;
  gap: 2px;
}
.container-movie-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  bottom: 1rem;
}
.container-movie-info__header{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 2rem;
}
.div-genres{
  display: flex;
  gap: 5px;
}
.genres-item{
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: black;
  color: #fff;
}