.carousel_container{
  padding: 0 2rem;
}
.swiper.swiper-3d{
  perspective: 700px;
}
.swiper-slide{
  background-position: center;
  background-size: cover;
  width: 375px;
  height: auto;
}
.swiper-slide-cast{
  max-width: 150px;
  max-height: 300px;
  margin: 0 5px;
}
.swiper-slide-cast img,
.swiper-slide img{
  display: block;
  width: 100%;
}
.swiper-popular{
  width: 100%;  
  z-index: 10;
  padding-bottom: 3vw;
}
.swiper-cast{
  width: 100%;  
  z-index: 10;
  padding-bottom: 0;
}

.swiper-pagination-fraction{
  bottom: 0;
}
.swiper-pagination-bullet{
  width: 25px;
  height: 7px;
  border-radius: 7px;
  background-color: #fff;
}
.swiper-button-next,
.swiper-button-prev{
  color: #fff;
}
@media(max-width: 1600px){
  .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 300px;    
  }
}
@media(max-width: 1200px){
  .swiper-slide{
    background-position: center;
    background-size: cover;
    width: auto;
    height: 300px;
  }
}
@media(max-width: 768px){
  .swiper-slide{
    width: 250px;
    height: auto;
  }
  .container .my-swiper{
    bottom: -58vw;
    padding-bottom: 8vw;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

}
